[user]
  name = jimmykodes
  email = james.keith.92@gmail.com
  signingKey = <signing key here>

[commit]
  gpgsign = true
  messageStore = <add path to obsidian commits file here>

[url "git@github.com:"]
  insteadOf = https://github.com/

