; vim:ft=gitconfig
[user]
  name = jimmykodes
  email = james.keith.92@gmail.com
	signingkey = ~/.ssh/id_rsa.pub
[core]
  excludesfile = <path to global gitignore>
[include]
	path = ~/.gitconfig.extras
